USE [kullanicilar]
GO
/****** Object:  Table [dbo].[kayıt]    Script Date: 5/8/2025 1:09:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kayıt](
	[ad] [nvarchar](50) NOT NULL,
	[soyad] [nvarchar](50) NOT NULL,
	[oyuncuadi] [nvarchar](50) NOT NULL,
	[sifre] [nvarchar](100) NOT NULL,
	[mail] [nvarchar](500) NOT NULL,
	[beni_hatirla] [bit] NULL,
	[avatar] [nvarchar](500) NULL,
	[rol] [nvarchar](20) NULL,
	[engellendi] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mail_logs]    Script Date: 5/8/2025 1:09:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mail_logs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[alici_mail] [nvarchar](100) NULL,
	[mail_metni] [nvarchar](max) NULL,
	[mail_konusu] [nvarchar](100) NULL,
	[gonderim_tarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[kayıt] ADD  CONSTRAINT [DF__kayıt__beni_hati__014935CB]  DEFAULT ((0)) FOR [beni_hatirla]
GO
ALTER TABLE [dbo].[kayıt] ADD  DEFAULT ('user') FOR [rol]
GO
ALTER TABLE [dbo].[kayıt] ADD  DEFAULT ((0)) FOR [engellendi]
GO
ALTER TABLE [dbo].[mail_logs] ADD  DEFAULT (getdate()) FOR [gonderim_tarihi]
GO
